.env.local
.env.*.local
node_modules
dist
dist-ssr
*.local
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
storage-debug.log
functions/node_modules
functions/lib
functions/.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
